<%- include("partials/header.ejs"); -%>

<div class="container">
    <div class="main_content">
        <h2 class="post-header">Know the source and best ways to remove acne</h2>
        <div class="main-post content">
            <div class="main-image">
                <img src="https://images.pexels.com/photos/6475987/pexels-photo-6475987.jpeg?auto=compress&cs=tinysrgb&w=600" alt="acne">
            </div>
            <div class="post left-post">
                Acne is a common skin condition that affects millions of individuals worldwide.
                It can be frustrating and impact one's self-esteem, leading many to seek effective solutions.
                This article aims to provide a comprehensive overview of acne, its sources, and various approaches to remove and prevent it.
                Additionally, we'll explore some of the best products available to combat acne. <a href="acne">Read more</a>
            </div>
        </div>
    </div>
</div>

<%- include("partials/footer.ejs"); -%>